<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Free flavor should not expose default SMS capabilities -->
    <uses-permission
        android:name="android.permission.SEND_SMS"
        tools:node="remove"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" tools:node="remove" />
    <uses-permission android:name="android.permission.READ_SMS" tools:node="remove" />
    <uses-permission android:name="android.permission.WRITE_SMS" tools:node="remove" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" tools:node="remove" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" tools:node="remove" />
    <uses-permission
        android:name="android.permission.SEND_RESPOND_VIA_MESSAGE"
        tools:node="remove"
        tools:ignore="ProtectedPermissions" />

    <application>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${admobAppId}" />

        <!-- Remove default-SMS related hooks for the free tier -->
        <activity
            android:name=".ui.MainActivity"
            tools:node="merge">
            <intent-filter tools:node="remove">
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.PulseLinkSmsReceiver"
            tools:node="remove" />

        <receiver
            android:name=".receiver.MmsWapPushReceiver"
            tools:node="remove" />

        <receiver
            android:name=".receiver.SmsSendReceiver"
            tools:node="remove" />

        <service
            android:name=".service.RespondViaMessageService"
            tools:node="remove" />
    </application>

</manifest>
